post_id,title,subtitle,date,background,bild_1,bild_2,bild_3,bild_4,bild_5,bild_6,bild_7,bild_8
001,AMAZON FINDS,Pilz Lampen,23.06.26,cover.png,bild_1.png,bild_2.png,bild_3.png,bild_4.png,bild_5.png,bild_6.png,bild_7.png,bild_8.png
002,SUMMER FINDS,Dreamy,24.06.26,dreamy-summer.jpg,bild_1.png,bild_2.png,bild_3.png,,,,,
